@{
    ViewData["Title"] = "Principal";
    @model IEnumerable<ColetaModel>
}

<h1>Sistema de Agendamento de Coletas de Lixo</h1>

@if (!string.IsNullOrEmpty((String)TempData["mensagemSucesso"]))
{
    <div class="alert alert-warning" role="alert">@TempData["mensagemSucesso"]</div>
}

<p>
    <a asp-action="Create" asp-asp-controller="Coletas">Nova Coleta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Registro</th>
            <th>Bairro</th>
            <th>Tipo Coleta</th>
            <th>Data/Hora - Coleta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var coleta in Model){
        <tr>
            <td>
                <label>@coleta.DiaColetaId</label>
            </td>
            <td>
                <label>@coleta.Bairro</label>
            </td>
            <td>
                <label>@coleta.TipoColeta</label>
            </td>
            <td>
                <label>10:00</label>
            </td>
            <td>
                    <a asp-controller="Coleta" asp-action="Edit" asp-route-id="@coleta.DiaColetaId"> Editar</a>
                    <a asp-controller="Coleta" asp-action="Delete" asp-route-id="@coleta.DiaColetaId"> Excluir</a>
            </td>
        </tr>
        }
    </tbody>
</table>
